<div class="form-cust border">
  <div class="col-sm-8 offset-sm-2">
    <h5 class="text-center ">Application Decision Information</h5>
    <form class="justify-content-center ">
      <div class="form-group row">
        <label for="appid" class="col-sm-6 col-form-label">Application ID</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm rounded-0" id="appid">
        </div>
      </div>
      <div class="form-group row">
        <label for="business" class="col-sm-6 col-form-label">Business Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control  form-control-sm rounded-0" id="business">
        </div>
      </div>
      <div class="form-group row">
        <label for="business" class="col-sm-6 col-form-label">Promo Code</label>
        <div class="col-sm-6">
          <input type="text" class="form-control  form-control-sm rounded-0" id="business">
        </div>
      </div>
      <div class="form-group row">
        <label for="business" class="col-sm-6 col-form-label">Relationship Manager First Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control  form-control-sm rounded-0" id="business">
        </div>
      </div>
      <div class="form-group row">
        <label for="business" class="col-sm-6 col-form-label">Relationship Manager Last Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control  form-control-sm rounded-0" id="business">
        </div>
      </div>
      <div class="form-group row">
        <label for="business" class="col-sm-6 col-form-label">Relationship Manager Title</label>
        <div class="col-sm-6">
          <input type="text" class="form-control  form-control-sm rounded-0" id="business">
        </div>
      </div>
      <div class="form-group row">
        <label for="business" class="col-sm-6 col-form-label">HSBC Representative Phone Number</label>
        <div class="col-sm-6">
          <input type="text" class="form-control  form-control-sm rounded-0" id="business">
        </div>
      </div>
      <div class="form-group row">
        <label for="business" class="col-sm-6 col-form-label">Cost Center</label>
        <div class="col-sm-6">
          <input type="text" class="form-control  form-control-sm rounded-0" id="business">
        </div>
      </div>
    </form>
  </div>

</div>