label {
    text-align: left;
}
.form-group{
    margin-bottom: 0rem;
}
.form-cust{
    margin-top: 2rem;
    width: 70%;margin: auto;text-align: center;
    margin-bottom: 5rem;
}

.card-header a:hover{
    text-decoration: none;
}