
<form class="text-center border border-light p-5">

  <p class="h4 mb-12">Search</p>

  <input type="text" id="appid" class="form-control mb-4" placeholder="App ID">
 
  <input type="text" id="businessname" class="form-control mb-4" placeholder="Business name">
  
  <input type="text" id="cin" class="form-control mb-4" placeholder="CIN">
  <input type="text" id="tin" class="form-control mb-4" placeholder="TIN">
  <input type="text" id="fname" class="form-control mb-4" placeholder="First name">
  <input type="text" id="lname" class="form-control mb-4" placeholder="Last Name">
 

  <button class="btn btn-info btn-block my-4" (click)="search()"type="submit">Search</button>

  

  
</form>
