<form>
  <p class="h4 text-center ">Search</p>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="appid">App ID</label>
        <input type="text" class="form-control form-control-sm " id="appid">
      </div>
      <div class="form-group">
        <label for="tin">TIN</label>
        <input type="text" class="form-control  form-control-sm " id="tin">
      </div>
      <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control form-control-sm " id="fname">
      </div>

    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="business">Business name</label>
        <input type="text" class="form-control form-control-sm " id="business">
      </div>
      <div class="form-group">
        <label for="">CIN</label>
        <input type="text" class="form-control form-control-sm " id="cin">
      </div>

      <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control form-control-sm " id="lname">
      </div>
    </div>
  </div>


<div style="text-align:right;">
    <button type="submit" (click)="search()" class="btn btn-primary ">Search</button>
</div>
  
</form>
<hr>
<p>Search results will be displayed here</p>