<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Application</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">UW page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Booking</a>
    </li>
  </ul>
  <form class="form-inline" >
    
    <button class="btn btn-primary" (click)="search()">Search</button>
  </form>
</nav>


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center"><button type="button" class="btn btn-primary">Search</button></div>
  
  </div>
</div> -->